<h3><%= user.name %> Details</h3>

<div class="row">
        
          <div class="row">
            <div class="input-field col s12">
              <label class="input-field col s6" for="fname">Full Name</label>
              <span class="input-field col s6"><%= user.name %></span>
              
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
             
              <label class="input-field col s6" for="uname">User Name</label>
              <span class="input-field col s6"><%= user.username %></span>
              
            </div>
          </div>
          
          <div class="row">
            <div class="input-field col s12">
              
              <label class="input-field col s6" for="email">Email</label>
              <span class="input-field col s6"><%= user.email %></span>
             
            </div>
          </div>

          <div class="row">
                <div class="input-field col s12">
                 
                  <label class="input-field col s6" for="address">Address</label>
                  <span class="input-field col s6"><%= user.address %></span>
                </div>
              </div>
             
          
        
      </div>
            
